302 does not redirect

Sending a request to an https service with an http url - the service responds with a 302 but the client does not follow the redirect. The `_followRedirects` boolean on the request is definitely set to `true`.

@nex3 thanks for getting back to me.

Here is the script.

``` Dart
import 'package:http/http.dart' as http;

void main(List<String> args) async {
  String input = '{"accessCode":"ID","pager":{"start":0,"count":2147483647}}';
  String requestData = "action=GetProperties&request=";
  requestData += Uri.encodeComponent(input);
  String url = "http://blogwtproject.appspot.com/api/blog";
  http.Response r = await http.post(Uri.parse(url),
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: requestData);
  print(r.toString());
}
```
The api is configured to redirect to https when called over http. It works as expected when the url is https://... but I was surprised that when I used http://... that the http client did not just redirect, despite the response code being 302.

It occurs to me that, maybe, redirects should not work for post calls by definition, if so... please pardon my ignorance.


It is a dummy project I run, testing against it is not an issue. Test to your heart's content.

I just ran into this myself. 
Code=302 but I'm not seeing the page listed in response.headers['location']

Any progress on this?

(I'm also using a live server also, which is using POST to supply a login.)

No redirect when doing a POST. 
@billy1380 & @nex3 ideas/fix?

GET seems to work automatically, returning 200, but POST returns 302 & will not get to destination. 
Even tried getting 'location' and GET to that. Note .isRedirect is also oldly false.

This is a huge brick wall stopping my project from using Dart at all because I need to pass login data to get login homepage for the main data.

Put a simple PHP file on a server:
`<?php
	header('Location: https://www.dartlang.org/', true, 302);
	exit;
?>`

Then run basic dart file:
`import 'package:http/http.dart' as http;

main(List<String> arguments) async {
  String url = 'https://.../post-redirect.php';

  Map body = {"username": "me", "password": "pwd"};
  http.Client client = new http.Client();

  http.Response response = await client.post(url, body: body);
  print(response.body);

  print(response.statusCode);
  print(response.isRedirect);
  if (response.statusCode == 302) {
    url = response.headers['location'];
    client.get(url);
  }
  print(response.body);
}`

Solved my problem going to basic dart:io: FInally found a post point out that we need to manually manage cookies so serve knows it's us on each call. 

Don't know if that's the issue here in http package.

@billy1380 is right in his second comment above; **`http` will not automatically follow regular redirects (301 and 302) and this is by design.**

GET and POST requests are fundamentally different, and [RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.3) describes how redirect works for these types.
The gist is:

>    If the 301 status code is received in response to a request other
>    than GET or HEAD, the user agent MUST NOT automatically redirect the
>    request unless it can be confirmed by the user, since this might
>    change the conditions under which the request was issued.
> 
>       Note: When automatically redirecting a POST request after
>       receiving a 301 status code, some existing HTTP/1.0 user agents
>       will erroneously change it into a GET request.
> _Source_: [RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.3.2)

and:

>    If the 302 status code is received in response to a request other
>    than GET or HEAD, the user agent MUST NOT automatically redirect the
>    request unless it can be confirmed by the user, since this might
>    change the conditions under which the request was issued.
> 
>       Note: RFC 1945 and RFC 2068 specify that the client is not allowed
>       to change the method on the redirected request.  However, most
>       existing user agent implementations treat 302 as if it were a 303
>       response, performing a GET on the Location field-value regardless
>       of the original request method. The status codes 303 and 307 have
>       been added for servers that wish to make unambiguously clear which
>       kind of reaction is expected of the client.
> _Source_: [RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.3.3)

The correct way to handle redirects on POST requests is to manually implement an appropriate strategy for your use case:
```dart
  var response = await client.post(...);
  if (response.statusCode == 301 || response.statusCode == 302) {
    // send post request again if appropriate
  }
```

Hope it helps

Thanks a lot for your response. If the response code is 302 or 301 and I make the post request again there might be duplicate insertion. It might not be the right thing.

Correct. You'll need to implement your own appropriate handling logic for your particular service.

@tanujgyan  hi, do you solve this problem? use postman to test post is ok, but when use dio/httpclient thre response code is 302.

I had the same issue. while looking carefully I missed the content type in the header parameters.
header : "Accept" : "application/json" .
If I do not provide header parameter it was giving me 302 error.
Thanks

okkk ... i faced same issue but i was fixed this issue ,,, `var headers = {
      'Authorization': '$header',
      "Content-Type" : "application/json"
    };`

> 
> 
> I had the same issue. while looking carefully I missed the content type in the header parameters.
> header : "Accept" : "application/json" .
> If I do not provide header parameter it was giving me 302 error.
> Thanks

This worked for me, thanks. 

Please can anyone tell me in which request should I put the above code.The above solution did not work for me @vbedoyac 