POST should follow redirects when `followRedirects` is set to True

<!--
  Please describe the feature you'd like to see us implement along with a use
  case.
-->
Currently, POST doesn't follow redirects even when `followRedirects` is set to True. This can be quite surprising for users. See #157 .
A promising solution is to make `followRedirects` default to false when using POST and other methods, but still allows user to override this behavior.
[The python requests library](https://2.python-requests.org/en/master/user/quickstart/#redirection-and-history) does this and it seems to work well.

`302` is not considered a redirect for ` `'POST'` request. This is defined by the SDK on the vm here:

https://github.com/dart-lang/sdk/blob/f8f0b845c2ff5d735ae9c26130c96919e7e5bea0/sdk/lib/_http/http_impl.dart#L355-L365

For a `'POST'` request you can redirect with a `307` status. The spec specifically tells us not to redirect for requests other than `'GET'` or `'HEAD'`

https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.3

RFC 2616 says 

> If the 302 status code is received in response to a request other than GET or HEAD, the user agent MUST NOT automatically redirect the request unless it can be confirmed by the user.

In our case, if a user writes `http.post(url, followRedirect=true)`, this can pretty much be treated as "confirmed by the user" since the user knows beforehand that his POST request will probably get redirected.

There is also a note in section 10.3.3:

> Note: RFC 1945 and RFC 2068 specify that the client is not allowed to change the method on the redirected request.  However, most existing user agent implementations treat 302 as if it were a 303 response, performing a GET on the Location field-value regardless of the original request method. The status codes 303 and 307 have been added for servers that wish to make unambiguously clear which kind of reaction is expected of the client.

With [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.4.3)(which obsoletes 2616), the requirement that user-agents should notify users has been dropped, which means many broswers redirect POST requests when receiving a 302 anyway. 

> Note: For historical reasons, a user agent MAY change the request method from POST to GET for the subsequent request.  If this behavior is undesired, the 307 (Temporary Redirect) status code can be used instead.

It will be nice to implement the least surprising behavior and redirect when the user explicitly asks us to.